@media (max-width:1720px) {
	.title {
		font-size: 16px;
		&_12 {
			font-size: 12px;
		}
		&_14 {
			font-size: 14px;
		}
		&_18 {
			font-size: 18px;
		}
		&_20 {
			font-size: 20px;
		}
		&_24 {
			font-size: 24px;
		}
		&_32 {
			font-size: 32px;
		}
		&_40 {
			font-size: 40px;
		}
		&_46 {
			font-size: 46px;
		}
	}
}
@media (max-width:1600px) {
	.title {
		font-size: 15px;
		&_12 {
			font-size: 12px;
		}
		&_14 {
			font-size: 14px;
		}
		&_18 {
			font-size: 18px;
		}
		&_20 {
			font-size: 20px;
		}
		&_24 {
			font-size: 24px;
		}
		&_32 {
			font-size: 32px;
		}
		&_40 {
			font-size: 40px;
		}
		&_46 {
			font-size: 46px;
		}
	}
}
@media (max-width:1440px) {
	.title {
		font-size: 14px;
		&_12 {
			font-size: 12px;
		}
		&_14 {
			font-size: 14px;
		}
		&_18 {
			font-size: 18px;
		}
		&_20 {
			font-size: 20px;
		}
		&_24 {
			font-size: 24px;
		}
		&_32 {
			font-size: 32px;
		}
		&_40 {
			font-size: 40px;
		}
		&_46 {
			font-size: 46px;
		}
	}
}
@media (max-width: 1200px) {
	.title {
		font-size: 13px;
		&_12 {
			font-size: 11px;
		}
		&_14 {
			font-size: 14px;
		}
		&_18 {
			font-size: 17px;
		}
		&_20 {
			font-size: 22px;
		}
		&_24 {
			font-size: 24px;
		}
		&_32 {
			font-size: 30px;
		}
		&_40 {
			font-size: 35px;
		}
		&_46 {
			font-size: 39px;
		}
	}
}
@media (max-width: 992px) {
	.title {
		font-size: 13px;
		&_12 {
			font-size: 11px;
		}
		&_14 {
			font-size: 14px;
		}
		&_18 {
			font-size: 16px;
		}
		&_20 {
			font-size: 16px;
		}
		&_24 {
			font-size: 20px;
		}
		&_32 {
			font-size: 28px;
		}
		&_40 {
			font-size: 30px;
		}
		&_46 {
			font-size: 34px;
		}
	}
}
@media (max-width: 768px) {
	.title {
		font-size: 12px;
		&_12 {
			font-size: 10px;
		}
		&_14 {
			font-size: 14px;
		}
		&_18 {
			font-size: 15px;
		}
		&_20 {
			font-size: 14px;
		}
		&_24 {
			font-size: 18px;
		}
		&_32 {
			font-size: 26px;
		}
		&_40 {
			font-size: 26px;
		}
		&_46 {
			font-size: 29px;
		}
	}
}
@media (max-width: 480px) {
	.title {
		font-size: 12px;
		&_12 {
			font-size: 10px;
		}
		&_14 {
			font-size: 14px;
		}
		&_18 {
			font-size: 14px;
		}
		&_20 {
			font-size: 14px;
		}
		&_24 {
			font-size: 16px;
		}
		&_32 {
			font-size: 24px;
		}
		&_40 {
			font-size: 22px;
		}
		&_46 {
			font-size: 24px;
		}
	}
}
