.cleaningUp{
  margin-top: 270px;
  position: relative;
  &_title{
    text-align: center;
    position: absolute;
    top: -185px;
    width: 100%;

  }
  &_text{
    text-align: center;
    position: absolute;
    top: -130px;
    width: 100%;
  }
  &_wrapper{
    position: relative;
    &_img{
      width: 100%;
      img{
        width: 100%;
      }
    }
    &_btn{
      display: flex;
      position: absolute;
      justify-content: center;
      width: 100%;
      top: -30px;
      &_dop{
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        border-radius: 20px;
        height: 74px;
        width: 70%;
        display: flex;
      }
      button{
        border-left: 1px solid rgba(31, 58, 21, 0.25);
        border-right: 1px solid rgba(31, 58, 21, 0.25);
      }
    }
  }
}

.tablink{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background: none;
  border: none;
  &_img{
    background:url("../img/cleaningUp/button/1green.svg") no-repeat ;
    width: 30px;
    height: 30px;
  }
  &_img2{
    background:url("../img/cleaningUp/button/2green.svg") no-repeat ;
    width: 30px;
    height: 30px;
  }
  &_img3{
    background:url("../img/cleaningUp/button/3green.svg") no-repeat ;
    width: 30px;
    height: 30px;
  }
  &_img4{
    background:url("../img/cleaningUp/button/4green.svg") no-repeat ;
    width: 30px;
    height: 30px;
  }
  &_img5{
    background:url("../img/cleaningUp/button/5green.svg") no-repeat ;
    width: 30px;
    height: 30px;
  }
}
.bntGreen{
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #15412e;
  border-radius: 20px;
  width: 100%;
  height: 74px;
  color: #ffffff;
  .bntGreenImg{
    filter:  invert(1) grayscale(1) ;
  }
}
.cleaningUp_wrapper_btn_dopMob, .cleaningUp_wrapper_ulMob{
  display: none;
}