.header{
  background: #1e3018;
  position: fixed;
  transition: all .6s ease;
  z-index: 1000;
  width: 100%;
  &_wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0;
    &_block{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      &_adders{
        display: flex;
        gap:10px;
        align-items: center;
      }
      &_soc{
        display: flex;
        gap: 10px;
        a{
          transform: scale(1);
          transition: .6s;
        }
        a:hover{
          transform: scale(1.2);
          transition: .6s;
        }
      }
      &_phone{
        display: flex;
        gap: 10px;
        align-items: center;
        &_tel{
          display: flex;
          flex-direction: column;
        }
      }
      &_logo {
        width: 20%;
        position: relative;
        bottom: 8px;
        img {
          width: 100%;
        }
      }
      button{
        width: 18%;
        height: 36px;
      }
    }
    &_blockUnder{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      gap: 20px;
    }
  }
}
.header.out {
  transform: translateY(-100%);
}

.menu{
  display: none;
}

.burger-menu{
  display: none;
}
